body {
  margin: 0;
  font-family: 'Garamond', serif;
  background: url('https://cdn.glitch.global/5a61e06d-3a29-4f64-9308-866c806f9357/2913097.jpg?v=1748458447354') no-repeat center center fixed;
  background-size: cover;
  color: #000;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.65rem 1.5rem;
  background-color: #111;
  color: white;
  border-bottom: 5px solid #222;
  flex-wrap: wrap;
}